if ARCH_RK30

choice
	prompt "RK30xx Board Type"
	default MACH_RK30_SDK

config MACH_RK30_SDK
	bool "RK30 SDK board"

config MACH_RK3066_SDK
	bool "RK3066 SDK board"

config MACH_RK30_PHONE
	bool "RK30 smart phone board"

config MACH_RK30_PHONE_LOQUAT
	bool "RK30 smart phone loquat board"

config MACH_RK30_PHONE_A22
        bool "RK30 smart phone a22 board"
	
endchoice

menu "support for RK power manage "

config CLK_SWITCH_TO_32K
        bool "Support clock switch to 32.768k"

config RK30_PWM_LOGIC_VOL
	   bool "pwm control logic voltage"
	   depends on TPS65910_RK30
endmenu

choice
	prompt "RK30xx Projectg Type"
	default MALATA_C7011

config MALATA_C7011
	bool "Malata C7011 Project"

config MALATA_C1006
	bool "Malata C1006 Project"

endchoice

choice
	prompt "RK30xx GPU Type"
	default GPU_SUPPORT_266M

config GPU_SUPPORT_400M
	bool "gpu  support  400M"

config GPU_SUPPORT_266M
	bool "gpu  support  266M"

endchoice

endif
